html {
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    font-family: monospace;
    text-align: center;
    align-items: center;
}

.container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 500px;
    border-width: 10px;
    border-color: black;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow:  18px 18px 36px #989898,
             -18px -18px 36px #ffffff;
}

.camera {
    display: none;
}
.capture {
    border-width: 10px;
    border-color: black;
    border-radius: 20px;
    width: 680;
    height: 480;
}

.skull {
    position: absolute;
    width: 60px;
    height: auto;
    top: 63px;
}

.caposkull {
    position: absolute;
    top: 30%;
    right: 50px;
}

@keyframes scroll {
    from {
        transform: translate(0,0)
    }

    to {
       transform: translate(600px,0)
    }
}

.resultMarquee {
    animation: scroll 7s linear 0s infinite;
    position: absolute
}


.title {
    margin-top: 30px;
}